body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Segoe UI', sans-serif;
  background-color: #f2f2f2;
}

.page-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: 100vw;
  padding: 20px;
  box-sizing: border-box;
}

/* Container login */
.login-container {
  width: 100%;
  max-width: 400px;
  padding: 30px;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}


.login-container h2 {
  margin-bottom: 20px;
  font-size: 24px;
  color: #1a1a1a;
}


.login-container input {
  padding: 12px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 6px;
  transition: border 0.2s ease;
}

.login-container input:focus {
  border-color: #276ef1;
  outline: none;
}


.login-container button {
  width: 100%;
  padding: 12px;
  background-color: #276ef1;
  color: white;
  font-weight: bold;
  font-size: 16px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.3s ease;
  margin-top: 10px;
}

.login-container button:hover {
  background-color: #1748a0;
}

.small-link {
  font-size: 0.9rem;
  margin-top: 15px;
  color: #555;
}

.link {
  color: #276ef1;
  cursor: pointer;
  font-weight: bold;
  text-decoration: underline;
}

.login-container p {
  margin-top: 15px;
  font-size: 0.95rem;
  color: #333;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.custom-modal {
  background: white;
  padding: 30px;
  border-radius: 12px;
  width: 320px;
  text-align: center;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  z-index: 1001;
}

.custom-modal h3 {
  margin-bottom: 20px;
  color: #1a1a1a;
}

.modal-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.modal-buttons button {
  flex: 1;
  margin: 0 5px;
  padding: 10px;
  font-weight: bold;
  font-size: 14px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.modal-buttons button:first-child {
  background-color: #276ef1;
  color: white;
}

.modal-buttons button:last-child {
  background-color: #ccc;
  color: #333;
}
